  <p>
    <a class="btn btn-large btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      {{title}}
    </a>
  </p>
<div class="collapse" id="collapseExample">
  <div class="card card-block">
     <label class="label label-pill label-primary" *ngFor="let item of technologyList">
        <input type="checkbox"
             value="{{item.name}}"
             [checked]="item.checked"
             (change)="onInteractionEvent($event)">
      {{ item.name }}
      </label>
  </div>
</div>

    <h2>Featured Projects</h2>
  <div *ngFor="let project of matchedProjects" class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1 card">
        <img src="http://placehold.it/350x150" class="card-img-top img-fluid img-rounded center-block" data-src="..." alt="Card image cap">
          <div class="card-block  text-xs-center">
          <h4 class="card-title">Project Name: {{project.name}} </h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. This is alot of text. It adds length to the paragraph. It adds bulk. I had to do it. It was very necessary for this example</p>
          <a class="btn btn-primary">See live site</a>
          </div>
          <p> {{ project.favs }} Likes <a href (click)="favUp(project)">Like</a></p>
      </div>
      <div class="col-sm-6 text-xs-center">
        <h2 >Technology used</h2>
        <p>{{project.technologies}}</p>
      </div>
    </div>
  </div>